@require '../spacing.styl'

.dialog
  @extend .padding-xlarge-top
  .dialog-title, .dialog-body
    @extend .padding-xlarge-horizontal

  .dialog-title + .dialog-body
    @extend .padding-small-top
    @extend .margin-large-top

  .dialog-body
    @extend .padding-xlarge-bottom

  .dialog-actions
    @extend .padding-base

    button + button
      @extend .margin-base-left
