@require '../spacing.styl'

.dialog
  padded-top(3)
  .dialog-title, .dialog-body
    padded-horizontal(3)

  .dialog-title + .dialog-body
    padded-top(0.5)
    margined-top(2)

  .dialog-body
    padded-bottom(3)

  .dialog-actions
    padded()

    button + button
      margined-left()
