$black ?= #000000
$white ?= #FFFFFF

blackish(op = 1)
  rgba($black, op)

whitish(op = 1)
  rgba($white, op)

$darkThemeSelector ?= '.dark-theme'

$mainTextOpacity ?= 0.87
$secondaryTextOpacity ?= 0.54
$disabledTextOpacity ?= 0.38

$mainWhiteTextOpacity ?= 1
$secondaryWhiteTextOpacity ?= 0.70
$disabledWhiteTextOpacity ?= 0.50

$mainText ?= blackish($mainTextOpacity)
$secondaryText ?= blackish($secondaryTextOpacity)
$disabledText ?= blackish($disabledTextOpacity)

$mainWhiteText ?= whitish($mainWhiteTextOpacity)
$secondaryWhiteText ?= whitish($secondaryWhiteTextOpacity)
$disabledWhiteText ?= whitish($disabledWhiteTextOpacity)


at-dark-theme(skipRoot = false)
  if skipRoot
    &{$darkThemeSelector}
      {block}
  else
    /{$darkThemeSelector} &, &{$darkThemeSelector}
      {block}
