@require './colors.styl'

$mainFonts ?= {}


text-style(fontSize, fontFamily = null)
  if fontSize is a 'unit'
    font-size: unit(fontSize/10, 'rem')
  else
    font-size: fontSize

  if fontFamily && $mainFonts[fontFamily]
    font-family: $mainFonts[fontFamily]

  if fontFamily == 'light'
    font-weight: 300
  else if fontFamily == 'medium'
    font-weight: 500
  else if fontFamily == 'bold'
    font-weight: bold
  else if fontFamily == 'regular'
    font-weight: 400

black-text(fontSize, opacity = $mainTextOpacity, fontFamily = null)
  text-style(fontSize, fontFamily)
  color: blackish(opacity)

white-text(fontSize, opacity = $mainWhiteTextOpacity, fontFamily = null)
  text-style(fontSize, fontFamily)
  color: whitish(opacity)

text(fontSize, blackOpacity = $mainTextOpacity, whiteOpacity = $mainWhiteTextOpacity, fontFamily = null)
  text-style(fontSize, fontFamily)
  color: blackish(blackOpacity)
  +at-dark-theme()
    color: whitish(whiteOpacity)

html
  font-size: 62.5%

a
  text-decoration: none

p
  margin-top: 0;
  margin-bottom: 0.4rem;

.text-aligned-center
  text-align: center

.text-aligned-right
  text-align: right

h1, h2, h3, h4, h5
  margin: 0

mat-text-styles()
  .text-display-4
    text(112, 54%, 70%, 'light')

  .text-display-3
    text(56, 54%, 70%, 'regular')

  .text-display-2
    text(45, 54%, 70%, 'regular')

  .text-display-1
    text(34, 54%, 70%, 'regular')

  .text-headline
    text(24, 87%, 100%, 'regular')

  .text-title
    text(20, 87%, 100%, 'medium')

  .text-subheading
    text(16, 87%, 100%, 'regular')

  .text-body-2
    text(14, 87%, 100%, 'medium')

  .text-body-1
    text(14, 87%, 100%, 'regular')

  .text-caption
    text(12, 54%, 70%, 'regular')
