@require '../colors.styl'
@require '../typography.styl'
@require '../depth.styl'

$buttonHeight = 3.2rem
$buttonMinWidth = 8.8rem

text-button()
  min-width: $buttonMinWidth
  height: $buttonHeight
  line-height: (@height / 2)
  padding-right: .8rem
  padding-left: @padding-right
  border-radius: .2rem
  border: none
  text-align: center
  text-style(14, 'medium')

  &:not([disabled])
    cursor: pointer

  &:focus
    outline: none

solid-button()
  &:not([disabled])
    white-text(14, 100%, 'medium')
  &[disabled]
    white-text(14, 30%, 'medium')

raised-button()
  &:not([disabled])
    z-depth(2)
    &:active
      z-depth(4)

text-button-theme(textColor, bgColor = transparent)
  color: textColor
  background-color: bgColor

flat-button-theme(mainColor, disabledColor, hoverBg = transparent, pressedBg = transparent)
  &:not([disabled])
    text-button-theme(mainColor)
    &:hover
      text-button-theme(mainColor, hoverBg)
    &:active
      text-button-theme(mainColor, pressedBg)

  &[disabled]
      text-button-theme(disabledColor)

solid-button-theme(mainColor, disabledColor, disabledBg, hoverBg, pressedBg)
  &:not([disabled])
    text-button-theme(whitish(100%), mainColor)
    &:hover
      text-button-theme(whitish(100%), hoverBg)
    &:active
      text-button-theme(whitish(100%), pressedBg)

  &[disabled]
      text-button-theme(disabledColor, disabledBg)
