@require '../colors.styl'

placeholder-color(plColor)
  &::-webkit-input-placeholder /* WebKit, Blink, Edge */
      color: plColor;

  &:-moz-placeholder /* Mozilla Firefox 4 to 18 */
     color: plColor;
     opacity:  1;

  &::-moz-placeholder /* Mozilla Firefox 19+ */
     color: plColor;
     opacity:  1;

  &:-ms-input-placeholder /* Internet Explorer 10-11 */
     color: plColor;

  &::-ms-input-placeholder /* Microsoft Edge */
     color: plColor;

mat-input-theme(textColor, labelColor, borderColor = null, borderWidth = 1)
  color: textColor
  if borderWidth != 1
    borderWidth = borderWidth * .1rem
    border-bottom-width: borderWidth
    padding-bottom: .9rem - borderWidth

  borderColor ?= labelColor
  border-bottom-color: borderColor

  placeholder-color(labelColor)

mat-input()
  display: block
  width: 100%
  border: none
  background-color: transparent
  font: inherit
  padding-top: .8rem
  padding-bottom: @padding-top
  line-height: 1
  font-size: 1.6rem
  height: 1em
  border-bottom-style: solid
  border-bottom-width: .1rem

  mat-input-theme($mainText, $disabledText)

  &[disabled]
    border-bottom-style: dashed

  &:focus
    outline: none
