@require '../colors.styl'

mat-input-theme(textColor, borderColor, borderWidth = 1)
  color: textColor
  borderWidth = borderWidth * .1rem
  border-bottom-width: borderWidth
  padding-bottom: .9rem - borderWidth
  border-bottom-color: borderColor

mat-input()
  display: block
  width: 100%
  border: none
  background-color: transparent
  font: inherit
  padding-top: .8rem
  line-height: 1
  font-size: 1.6rem
  height: 1em
  border-bottom-style: solid

  mat-input-theme($mainText, $disabledText)

  &[disabled]
    border-bottom-style: dashed

  &:focus
    outline: none

  ::-webkit-input-placeholder /* WebKit, Blink, Edge */
      color: $disabledText;

  :-moz-placeholder /* Mozilla Firefox 4 to 18 */
     color: $disabledText;
     opacity:  1;

  ::-moz-placeholder /* Mozilla Firefox 19+ */
     color: $disabledText;
     opacity:  1;

  :-ms-input-placeholder /* Internet Explorer 10-11 */
     color: $disabledText;

  ::-ms-input-placeholder /* Microsoft Edge */
     color: $disabledText;
