@font-face
  font-family Regular
  font-style normal
  font-weight: 400
  src url(../lib/styles/fonts/Lato/Lato-Regular.ttf)

@font-face
  font-family Light
  font-style normal
  font-weight: 300
  src url(../lib/styles/fonts/Lato/Lato-Light.ttf)

@font-face
  font-family Medium
  font-style normal
  font-weight: 500
  src url(../lib/styles/fonts/Lato/Lato-Semibold.ttf)

@font-face
  font-family Bold
  font-style normal
  font-weight: 700
  src url(../lib/styles/fonts/Lato/Lato-Bold.ttf)
