@require '../lib/styles/index.styl'
@require './fonts.styl'

$primary = #0288D1
$primaryLight = #008891
$primaryDark = #0F3057

$warn = #DA2924
$warnLight = #EA524E
$warnDark = #AE1511
$background = #CDCBA6


darkColors = {
  main: $mainText,
  secondary: $secondaryText,
  disabled: $disabledText
}

whiteColors = {
  main: $mainWhiteText,
  secondary: $secondaryWhiteText,
  disabled: $disabledWhiteText
}

$mainFonts = {
  light: 'Light',
  regular: 'Regular',
  medium: 'Medium',
  bold: 'Bold'
}

mat-text-styles()

body
  text(14, $mainTextOpacity, $mainWhiteTextOpacity, 'regular')


{$darkThemeSelector}
  background-color: $primaryDark

// Buttons
button
  text-button()
  flat-button()
  
  &.primary
    flat-button-theme($primary)

  &.raised
    raised-button()

  &.filled, &.raised
    filled-button()
    &.primary
      filled-button-theme($primary)


// Inputs
input
  mat-input()

  &:focus
    mat-input-theme($mainText, $primary, 2)

  &:hover:not(:focus):not(.invalid):not([disabled])
    mat-input-theme($mainText, $secondaryText, 2)

  &.invalid
    mat-input-theme($mainText, $warn, 2)
