@require '../lib/styles/index.styl'
@require './fonts.styl'

$primary = #0288D1
$primaryLight = #008891
$primaryDark = #0F3057

$warn = #DA2924
$warnLight = #EA524E
$warnDark = #AE1511
$background = #CDCBA6


darkColors = {
  main: $mainText,
  secondary: $secondaryText,
  disabled: $disabledText
}

whiteColors = {
  main: $mainWhiteText,
  secondary: $secondaryWhiteText,
  disabled: $disabledWhiteText
}

$mainFonts = {
  light: 'Light',
  regular: 'Regular',
  medium: 'Medium',
  bold: 'Bold'
}

mat-text-styles()

body
  text(14, $mainTextOpacity, $mainWhiteTextOpacity, 'regular')


{$darkThemeSelector}
  background-color: $primaryDark

.light-theme
  background-color: $background

// Buttons
button
  text-button()

  flat-button-theme(blackish(87%), blackish(26%), blackish(6%), blackish(12%))
  +at-dark-theme()
    flat-button-theme(whitish(100%), whitish(30%), whitish(6%), whitish(12%))

  &.primary
    flat-button-theme($primary, rgba($primary, .30), blackish(6%), blackish(12%))
    +at-dark-theme()
      flat-button-theme($primary, rgba($primary, .30), whitish(6%), whitish(12%))

  &.raised
    raised-button()

  &.solid, &.raised
    &.primary
      solid-button-theme($primary, blackish(30%), blackish(12%), shade($primary, 6%), shade($primary, 12%))
      +at-dark-theme()
        solid-button-theme($primary, whitish(30%), whitish(12%), shade($primary, 6%), shade($primary, 12%))
    &.warn
      solid-button-theme($warn, blackish(30%), blackish(12%), shade($warn, 6%), shade($warn, 12%))
      +at-dark-theme()
        solid-button-theme($warn, whitish(30%), whitish(12%), shade($warn, 6%), shade($warn, 12%))



// Inputs
input
  mat-input()

  &:focus
    mat-input-theme($mainText, $primary, 2)

  &:hover:not(:focus):not(.invalid):not([disabled])
    mat-input-theme($mainText, $secondaryText, 2)

  &.invalid
    mat-input-theme($mainText, $warn, 2)
